<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8">
  <title>Roulette Flex Row / Col</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>

    <div class="container">
        
        <div class="row roulette-panel order-ml-3 ml-2p">

                <div class="roulette-panel-top-left">
                    <div class="roulette-panel-top-left-result">0</div>
                </div>

                <div class="roulette-panel-grid">
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell color-black order-ml-2">2.1</div>

                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell color-black order-ml-4">3.1</div>

                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell red"></div>
                    <div class="cell black"></div>
                    <div class="cell color-black order-ml-5">4.1</div>
                </div>
            </div>
                
            <div class="row roulete-panel-row-info order-ml-2">
                <div class="row roulete-panel-col-info order-ml-0  h-50  ">
                    <div class="col cell-grid-info">1ви 12</div>
                    
                </div>
                <div class="row roulete-panel-col-info order-ml-1  h-50 ">
                    <div class="col cell-grid-info">2ри 12</div>
                </div>
                <div class="row  order-ml-2 roulete-panel-col-info w-30 h-50 flex-wrap h-ml-27">
                    <div class="col cell-grid-info">3ти 12</div>
                </div>
            </div>

            <div class="row roulete-panel-row-info order-ml-1 ml-ml-2pr">
                <div class="row roulete-panel-col-info order-ml-0">
                    <div class=" cell-grid-info w-50pr order-ml-1  w-m-100pr h-ml-50pr">1 - 18</div>
                    <div class=" cell-grid-info w-50pr  order-ml-0 w-m-100pr h-ml-50pr">ЧЕТНО</div>
                </div>
                <div class="row roulete-panel-col-info order-ml-1  ">
                    <div class=" cell-grid-info w-50pr order-ml-1  w-m-100pr h-ml-50pr">ЧЕРВЕНО</div>
                    <div class=" cell-grid-info w-50pr  order-ml-0 w-m-100pr h-ml-50pr">ЧЕРНО</div>
                </div>
                <div class="row  order-ml-2 roulete-panel-col-info   h-ml-27">
                    <div class="cell-grid-info w-50pr order-ml-1  w-m-100pr h-ml-50pr">НЕЧЕТНО</div>
                    <div class="cell-grid-info w-50pr  order-ml-0 w-m-100pr h-ml-50pr">19-36</div>
                </div>
            </div>

            <div class="roulete-panel-btn-controls order-ml-5 h-ml-30pr" >
                <button class="icon-btn btn-undo" id="btnUndo" >
                    <img src="/assets/images/btn-undo.png" alt="Back">
                </button>

                <button class="icon-btn btn-clear">
                    <img src="/assets/images/btn-clear.png" id="btnClear" alt="Clear">
                </button>

                <button class="icon-btn btn-x2">
                    <img src="/assets/images/btn-x2.png" id="btnDouble" alt="Double">
                </button>
            </div>

            <div class="roulete-panel-chips-btn order-ml-4 h-ml-30pr" >
                <button class="chip-btn" name="chip-btn-1" id="chip-btn-1"  style="background-image: url(/assets/images/chip-background-1.png);background-repeat: no-repeat;" >
                    1
                </button>

                <button class="chip-btn" name="chip-btn-2" id="chip-btn-2" style="background-image: url(/assets/images/chip-background-2.png);background-repeat: no-repeat;">
                    2
                </button>

                <button class="chip-btn" name="chip-btn-3" id="chip-btn-3" style="background-image: url(/assets/images/chip-background-3.png);background-repeat: no-repeat;">
                    3
                </button>
            </div>

        </div>

    </body>
</html>
